<section class="features">
    <div class="features-grid">
        <div class="feature-card">
            <div class="feature-content-wrapper">
                <div class="feature-content">
                    <h3>Multiple messengers support</h3>
                    <p>- <a href="https://docs.impulse.bot/stable/integrations/messengers/slack/" class="brand-color">Slack</a><br>- <a href="https://docs.impulse.bot/stable/integrations/messengers/telegram/" class="brand-color">Telegram</a><br>- <a href="https://docs.impulse.bot/stable/integrations/messengers/mattermost/" class="brand-color">Mattermost</a></p>
                </div>
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-content-wrapper">
                <div class="feature-content">
                    <h3>External integrations</h3>
                    <p>Powerful <a href="https://docs.impulse.bot/stable/config_file/#webhooks" class="brand-color">webhooks</a> to integrate with any system</p>
                </div>
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-content-wrapper">
                <div class="feature-content">
                    <h3>No incident chaos</h3>
                    <p>Incidents have a <a href="https://docs.impulse.bot/stable/concepts/incident/#lifecycle" class="brand-color">lifecycle</a> that automatically prevents duplicate incidents and reduces noise</p>
                </div>
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-content-wrapper">
                <div class="feature-content">
                    <h3>Snoozed incidents</h3>
                    <p><a href="https://docs.impulse.bot/features/snoozed-incidents/" class="brand-color">Freeze</a> incidents to handle them later</p>
                </div>
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-content-wrapper">
                <div class="feature-content">
                    <h3>Unlimited escalation policies</h3>
                    <p>Create as many <a href="https://docs.impulse.bot/configuration/escalation/" class="brand-color">escalation policies</a> as you need</p>
                </div>
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-content-wrapper">
                <div class="feature-content">
                    <h3>High customization</h3>
                    <p>Powerful <a href="https://docs.impulse.bot/configuration/templates/" class="brand-color">Jinja2 templates</a> to customize incident messages</p>
                </div>
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-content-wrapper">
                <div class="feature-content">
                    <h3>Task management integration</h3>
                    <p>Create <a href="https://docs.impulse.bot/integrations/jira/" class="brand-color">Jira</a> tasks directly from messenger</p>
                </div>
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-content-wrapper">
                <div class="feature-content">
                    <h3>Unlimited oncall schedules</h3>
                    <p>Set up flexible shifts and rotations from your <a href="https://docs.impulse.bot/configuration/oncall/#google-calendar" class="brand-color">Google Calendar</a></p>
                </div>
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-content-wrapper">
                <div class="feature-content">
                    <h3>Parent/child incident suppression</h3>
                    <p><a href="https://docs.impulse.bot/features/suppression/" class="brand-color">Suppress</a> child incidents when a parent incident is active</p>
                </div>
            </div>
        </div>
        <div class="feature-card">
            <div class="feature-content-wrapper">
                <div class="feature-content">
                    <h3>Community support</h3>
                    <p>Ask questions and share ideas on <a href="https://github.com/eslupmi/impulse/discussions" class="brand-color">GitHub Discussions</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
