<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <p>&copy; IMPulse 2026. All Rights Reserved.</p>
        </div>
        <div class="footer-center">
            <a href="{{ .Site.Params.github_url }}/blob/develop/LICENSE.md" class="footer-link" target="_blank">License</a>
            <a href="#" class="footer-link" onclick="openPrivacyModal(); return false;">Privacy Policy</a>
            <a href="mailto:support@impulse.bot" class="footer-link">support@impulse.bot</a>
        </div>
    </div>
</footer>
